.a11y-solo-lectura {
  position: fixed;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

// .a11y-contraste-fondo,
// .a11y-contraste-fondo-inverso {
// }
#app.a11y-contraste {
  .a11y-contraste-fondo {
    background: map-get($a11y-contraste, "fondo");
    color: map-get($a11y-contraste, "texto");
  }
  .a11y-contraste-fondo-inverso {
    background: map-get($a11y-contraste, "texto");
    color: map-get($a11y-contraste, "fondo");
  }
}

.a11y-enlace-subrayado {
  text-decoration: inherit;
}
#app.a11y-enlace {
  a,
  .link,
  .a11y-enlace-subrayado {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  .link-cover-img .link:not(.degradado-activo) {
    background: linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,.1) 70%, rgba(0,0,0,.9));
    color: #fff;
  }
}

.a11y-simplificada-block {
  display: none;
}
#app.a11y-simplificada {
  .a11y-simplificada-block {
    display: block;
  }
  .cover {
    display: none;
  }
  .link-cover-img {
    height: 100px;
  }
  .link-cover-img .link,
  .link-cover-img .link:not(.degradado-activo) {
    background: map-get($color-link, "focus-fondo");
    color: map-get($color-link, "focus-texto");
    &:hover,
    &:focus {
      background: map-get($color-link, "hover-fondo");
      color: map-get($color-link, "hover-texto");
    }
    .a11y-contraste-fondo,
    .a11y-contraste-fondo-inverso {
      background: inherit;
      color: inherit;
    }
  }
}