.btn-lg {
  font-size: map-get($size-btn, "large");
  padding: map-get($size-btn, "large")*.25 map-get($size-btn, "large")*.5;
}
.btn-md {
  font-size: map-get($size-btn, "medium");
  padding: map-get($size-btn, "medium")*.25 map-get($size-btn, "medium")*.5;
}
.btn-sm {
  font-size: map-get($size-btn, "small");
  padding: map-get($size-btn, "small")*.25 map-get($size-btn, "small")*.5;
}
.btn-block {
  width: 100%;
}
.btn-bold {
  font-weight: 800;
}